---
import BaseHead from '@/components/BaseHead.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
import '../styles/base.css';

interface Props {
  frontmatter?: {
    title?: string;
    description?: string;
<<<<<<< HEAD
    embedUrl?: string;
=======
>>>>>>> upstream/main
  };
  slug?: string;
}

const { frontmatter, slug = '' } = Astro.props;
---

<!doctype html>
<<<<<<< HEAD
<html dir="rtl">
=======
<html lang="en">
>>>>>>> upstream/main
  <head>
    <BaseHead
      title={frontmatter?.title}
      description={frontmatter?.description}
      slug={slug}
<<<<<<< HEAD
      embedUrl={frontmatter?.embedUrl}
=======
>>>>>>> upstream/main
    />
  </head>
  <body>
    <ThemeToggle />
    <slot />
  </body>
</html>
